<div class="container">
  <div class="row">
    <div class="col-8">
      <% @posts.each do |post| %>
      <div class="insta-post">
        <div class="post-meta">
          <% if post.account.image.present? %>
          <%= image_tag post.account.image.thumb.url, class: "profile-pic" %>
          <% end %>
          <%= post.account.username %>
        </div>

        <%= image_tag post.image.url, class: "img img-fluid" %>


        <div class="post-details">
          <div class="post-actions">
            <!--- Using post id here is a nice quick way to select the post since we are on a feed  --->
            <i class="fa fa-heart like-<%= post.id %> <%= 'active' if post_liked_by_user?(post.id) %> fa-2x post-like "
              data-id="<%= post.id %>"></i>
            <i class="fa fa-comment fa-2x post-comment"></i>
            <% if current_account.id == post.account_id %>
            <%= link_to 'edit post', edit_post_path(post.id) %>
            <% end %>
          </div>
          <!-- Setting ID here to use as unique identifier for selecting the likes number in JS partial -->
          <p><strong id="post-<%= post.id %>-likes"><%= post.total_likes_count %> likes </strong></p>
          <p><strong id="post-<%= post.id %>-comments"><%= post.account.username %></strong></p>

          <%= simple_format post.description %>

          <p class="text-muted"> <%= time_ago_in_words post.created_at %> ago </p>

          <%= render "posts/comments", post: post %>
        </div>
        <div class="comment-box">
          <%= form_for @comment do |f| %>
          <%= f.hidden_field :post_id, value: post.id %>
          <div class="input-group">
            <%= f.text_field :comment, placeholder: "Leave a comment: ", class: "form-control" %>
            <div class="input-group-append">
              <%= f.submit "Post", class: "btn btn-success float-right" %>
            </div>
          </div>
          <% end %>
        </div>
        <% end %>
      <div class="col-4">
        <div class="account-summary">
          <p>
            <%= image_tag current_account.image.thumb.url, class: "profile-pic" if current_account.image.present? %>
            <strong><%= current_account.username %></strong>
          </p>
        </div>
        <div class="follower-suggestions">
          <%= link_to "View All", '#', class: "float-right" %>
          <p class="text-muted">Suggestions for you</p>
          <%= render "accounts/follower_suggestions" %>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>