<div class="container">
    <div class="row">
        <div class="col-4">
            <% if current_account.image.present? %>
            <%= image_tag current_account.image.url, width: "200px", class: "profile-pic" %>
            <% end %>
        </div>
        <div class="col-8 text-left">
            <h1><%= current_account.username %></h1>
            <%= link_to "Edit Profile", edit_account_registration_path, class: "btn btn-secondary" %>
            <div class="profile-stats"><%= current_account.posts.count %> posts</div>
            <div class="profile-stats"><%= current_account.total_followers %> followers</div>
            <div class="profile-stats"><%= current_account.total_following %> following</div>

            <p><%= simple_format current_account.description %></p>
        </div>
    </div>
</div>
<div class="row">
    <% if current_account.posts.present? %>
        <% current_account.posts.each do |post| %>
            <div class="col-4">
                <div class="insta-post">
                  <%= image_tag post.image.url, class: "img img-fluid" %>
                </div>
            </div>
        <% end %>
    <% end %>
</div>